[{boss, [
    {path, "/home/jason/soft/ChicagoBoss-0.8.0/ChicagoBoss-0.8"},
    {applications, [lxw]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, cowboy},
    %{server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ lxw, [
    {path, "../lxw"},
    {base_url, "/"}
]}
].
